.indexHero {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 59.565385%;
  position: relative;
  margin-bottom: 80px;
}

.indexHero img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.indexFlexContainer {
  display: "flex";
}

.indexFlexItem {
  flex: "1";
}

.indexIntro {
  font-family: "Roboto";
  font-size: 1rem;
  border-radius: 15px;
  padding: calc(8px + 2.5vw);
}

.indexIntro p:last-child {
  margin-bottom: 0;
}

.indexText {
  padding: calc(8px + 2.5vw);
  background: white;
  border-radius: 16px;
  margin-bottom: 16px;
}

.indexTitle {
  text-align: left;
  font-size: calc(2rem + 4vw);
  margin-bottom: calc(2rem + 3vw);
}

.indexAlignRight {
  text-align: right;
}

@media only screen and (min-width: 1280px) {
  .indexTitle {
    font-size: 5rem;
    margin-bottom: 80px;
  }
}
