.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 8px;
  }
}

.containerNarrow {
  max-width: 700px;
}

.containerWide {
  max-width: 1280px;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}
