.footerContainer {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerContainer a {
  color: #000;
  font-size: 14px;
  margin-right: 16px;
  font-family: Roboto, sans-serif;
}

.footerContainer a:visited {
  color: #000;
}
