.root {
  background: #233d4d;
  margin-bottom: 64px;
}

.container {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container a {
  color: white;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.left {
  flex-basis: 304px;
}

.right {
}

.logo {
  display: block;
  width: 280px;
  height: 64px;
}

.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 8px;
  margin-left: 16px;
}

.iconLink {
  vertical-align: middle;
  display: inline-block;
}
