.root {
  background: #233d4d;
  padding-right: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  height: 64px;
  display: flex;
  align-items: center;
}

.container a {
  color: white;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.left {
  flex: 1;
}

.right {
  flex: auto;
  text-align: right;
}

.logo {
  display: block;
}

.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 8px;
  margin-left: 16px;
}

.iconLink {
  vertical-align: middle;
  display: inline-block;
}

@media only screen and (max-width: 450px) {
  .right {
    display: none;
  }
}
