.upperContainer {
  font-size: 16px;
  margin-bottom: 64px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.readMore {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 32px;
}

.readMore > div {
  margin-bottom: 16px;
}

.hero {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 100%;
  position: relative;
  margin-bottom: 80px;
}
.hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.smallText {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.shareButtonContainer {
  margin-bottom: 32px;
}

.shareButtonContainer button {
  margin-right: 16px;
  margin-bottom: 16px;
}

.shareButtonContainer svg {
  vertical-align: middle;
}

.subheader {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
}

.honeyPot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.commentsContainer {
  margin-bottom: 48px;
}

.commentContainer {
  margin-bottom: 32px;
}

.comment {
  border-radius: 16px;
  background: radial-gradient(circle, #dddee9 0%, #ededf0 100%);
  padding: 16px;
  margin-bottom: 32px;
}

.commentName {
  margin-bottom: 16px;
}
