.upperContainer {
  font-size: 16px;
  margin-bottom: 64px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.readMore {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-top: 64px;
}

.readMore > div {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .rightCol {
    text-align: right;
  }
}

.hero {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 100%;
  position: relative;
  margin-bottom: 80px;
}
.hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.references {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.referenceTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
}

}
