.newsletterContainer {
  margin: calc(2rem + 3vw) auto 32px auto;
  padding: calc(8px + 2.5vw);
  border: 1px #ededf0 solid;
  font-size: 16px;
  padding-bottom: 0;
  border-radius: 10px;
  background: #ededf0;
  background: radial-gradient(circle, #dddee9 0%, #ededf0 100%);
}

.newsletterHeader {
  font-family: Inconsolata, Arial;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.newsletterText {
  font-size: 16px;
  font-family: Inconsolata, Arial;
  margin-bottom: 24px;
}

.newsletterDot {
  width: 12px;
  height: 12px;
  background-color: #2f2f30;
  display: inline-block;
}

.newsletterFieldsContainer {
  padding-bottom: 8px;
  flex-wrap: wrap;
}

.newsletterFieldsContainer input,
.newsletterFieldsContainer button {
  margin-bottom: 8px;
}

@media only screen and (min-width: 1280px) {
  .newsletterContainer {
    margin-top: 80px;
  }
}
