.container {
  margin: 80px auto 32px auto;
  padding: 20px 32px 14px;
  border: 1px #ededf0 solid;
  font-size: 16px;
  padding-bottom: 0;
  border-radius: 10px;
  background: #ededf0;
  background: radial-gradient(circle, #dddee9 0%, #ededf0 100%);
}

.header {
  font-family: Inconsolata, Courier;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  font-family: Inconsolata, Courier;
  margin-bottom: 24px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #2f2f30;
  display: inline-block;
}

.fieldsContainer {
  padding-bottom: 8px;
  flex-wrap: wrap;
}

.fieldsContainer input,
.fieldsContainer button {
  margin-bottom: 8px;
}
