.commonButton {
  background-color: #fff;
  border: solid 2px #233d4d;
  box-shadow: 5px 5px 0 #0899bc;
  font-family: Roboto;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 32px;
  color: #233d4d;
}

.commonButton:hover {
  background-color: #233d4d;
  color: #fff;
}

.commonForm {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.commonSignature {
  font-style: italic;
  font-family: "Libre Baskerville", "serif";
  font-size: 0.8rem;
}

.commonNoWrap {
  white-space: nowrap;
}
